body {
  margin: 10;
  padding: 10;
  font-family: 'Oswald', sans-serif;
}

.nav li {
  font-size: 1em;
	line-height: 40px;
	height: 100px;
	border-bottom: 1px solid #444;
	text-align: center;
  display: inline-block;
}
 
.nav a {
	text-decoration: none;
	color: #000;
	display: block;
	transition: .3s background-color;
}
 
.nav a:hover {
	background-color: #444;
	color: #fff;
}
 
.nav a.active {
  background-color: #444;
  color: #fff;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 200px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
}

table {
  border:"0";
  width:"100%";
}

.profielfoto {
  width:"350px";
}

.homepageimage {
  width:100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 23%;
  max-width: 23%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

h1 {
  font-size: 3ch;
}

.socials ul {
  text-align: right;
  margin-right: 20px;
}

.socials li {
  font-size: 0.9em;
	line-height: 20px;
	text-align: center;
  padding: 5px;
  display: inline-block;
}
 
.socials a {
	text-decoration: none;
	color: #000;
	display: block;
	transition: .3s background-color;
}